<div id="details">
    <h3>Add/Update asset</h3>

    <div class="gap-20"></div>

    <div class="row">
        <div class="form-group col-md-2">
            <label for="name">Name:</label>
            <input id="name" type="text" data-ng-model="name" class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label>Description:</label>
            <input type="text" data-ng-model="description" class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-2">
            <label>Location:</label>
            <select data-ng-model="location" class="form-control">
                <option value="GroundFloor">Ground Floor</option>
                <option value="FirstFloor">First Floor</option>
                <option value="OldTrafford">Old Trafford</option>
                <option value="HampdenPark">Hampden Park</option>
                <option value="TheEmirates">The Emirates Stadium</option>
                <option value="Reebok">The Reebok</option>
                <option value="JJB">JJB Stadium</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2">
            <label for="assetvalue">Value:</label>
            <input id="assetvalue" type="number" step="0.01" data-ng-model="assetvalue" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-2">
            <label for="keeper">Keeper:</label>
            <input id="keeper" type="text" data-ng-model="keeper" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <button type="button" class="btn btn-success" data-ng-click="save()">Save</button>
            <button type="button" class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>
